button{width: 100px;height: 30px;border: 0px;margin-left:10px;float:left;background-color: pink;}
.top{
    width: 100%;
    height: 100px;
    background: #0B0B0B;
    position: relative;
}
.logo{
    width: 188px;
    height: 100px;
    margin-left: 50px;
    z-index: 9999;
}
.top-nav{
    width: 605px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 300px;
    /*position: relative;*/
}
.top-nav ul li{
    float: left;
}
.top-nav ul li a{
    display: inline-block;
    height: 90px;
    padding: 0 18px;
    text-align: center;
    margin-top: 30px;
}
.top-nav ul li .a{
    font-size: 20px;
    color: #FFFFFF;
}
.top-nav ul li .b{
    color:red;
}
.user{

    width: 350px;
    height: 90px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.user .user-font{
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}
.user .user-font a{
    display: inline-block;
    font-size: 16px;
    color: #DFB257;
}
.user .user-font h5{
    font-size: 10px;
    color: #999975;
}
.user:hover{
    background: rgba(000, 000, 000, 0.5);
}
.ss{
    width: 38px;
    height: 37px;
    position: absolute;
    top: 25px;
    right: 420px;
}
.phone{
    width: 38px;
    height: 39px;
    position: absolute;
    top: 25px;
    right: 380px;
}
.top .top-img{
    margin-top: -20px;
    margin-left: -35px;
    position: relative;
}
.top-img .img-font{
    font-size: 50px;
    font-weight: bold;
    color: #E7CA8E;
    /*margin-left: 85px;*/
    position: absolute;
    top: 150px;
    left: 85px;
}
.top-img .img-font2{
    margin-left: 85px;
    color: #DBDBDB;
    position: absolute;
    top: 200px;
}
.top-img .video{
    margin-left: 85px;
    position: absolute;
    top: 350px;
    border: 1px solid #987630;
}
.top-img .nn{
    margin-left: 175px;
    position: absolute;
    top: 390px;
    opacity: 0.3;
}
.top-img .top-a{
    margin-left: 85px;
    width: 155px;
    height: 35px;
    border: 2px solid #987630;
    display: inline-block;
    font-size: 14px;
    color: #987630;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 490px;
}
.top-nav .son{
    z-index: 9999;
    width:1348px;
    height:250px;
    background:rgba(000,000,000,0.5);font-weight:bold;
    position:absolute;left:0;top:100px;
    display:none;
    margin-left: -300px;
}
.son table{
    margin-left: 285px;
}
.son table a{
    color: #E1E1E1;
}
.H{
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #F04C32;
    font-size: 5px;
    display: inline-block;
    line-height: 15px;
    text-align: center;
    z-index: 9999;
    color: #FFFFFF;
}
.N{
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background: #25B540;
    font-size: 5px;
    display: inline-block;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.son table a:hover{
    color: #E9C06C;
}
.son2{
    z-index: 9999;
    width:350px;
    height:135px;
    background-color:rgba(011,011,011,0.5);font-weight:bold;
    position:absolute;left:0;top: 80px;
    display:none;
    /*margin-left: -300px;*/
}
.son2:hover{
    color: #E9C06C;
}
.son2 a{
    width: 350px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #000;
    color: #CFCFCF;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
}
.son2 span{
    color: #868686;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
}
.ban{
    position: absolute;
    top: 580px;
    right: 70px;
}
.ban span{
    font-size: 14px;
    color: #888787;
}
.ban .var{
    font-size: 16px;
    color: #E2BF7A;
}
.ban a{
    width: 80px;
    height: 23px;
    color:#F5D185;
    display: inline-block;
    border: 2px solid #F5D185;
    margin-left: 10px;
    line-height: 23px;
    text-align: center;
}
.hr{
    margin-top: -26px;
}
.Yi{
    z-index: 9999;
}
.b{
    width: 780px;
    height: 400px;
    margin: 100px auto;
    position: relative;
    top: -100px;
    left: -230px;
    overflow: hidden;
}
.b .banner{
    width: 3900px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}
.b .banner div{
    width: 780px;
    height: 400px;
    float: left;

}

.b img{
    width:100%;
    height: 100%;

}
.b ul{
    width: 780px;
    position: absolute;
    right: 20px;
    top:350px;
    left: 0px;
}
.b ul li{
    width: 156px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    background: #121112;
    cursor: pointer;
    color: #BCC8A5;

}
.b ul li.on{
    background: #303030;
    color: #CCC059;
}
/*.box a{*/
/*display: block;*/
/*width: 40px;*/
/*height: 50px;*/
/*background-image: url("../img/pre.png");*/
/*position:absolute;*/
/*top: 125px;*/
/*opacity: 0.3;*/
/*filter:alpha(opacity=30);*/
/*display: none;*/
/*}*/
.b a:hover{
    opacity: 1;
    filter:alpha(opacity=100);
}
.b .btnL{
    left: 30px;
    background-position: 0 0;
}
.b .btnR{
    right: 25px;
    background-position: -50px 0;
}
.center{
    width:1348px;
    height: 400px;
    background: url("../images/bg-content-top.jpg");
    position: absolute;
    top: 740px;
}
.center .xzyx{
    position: absolute;
    top: 0px;
    right: 60px;
}
.center .jing{
    position: absolute;
    top: 170px;
    left: 887px;
    width: 400px;
    height: 240px;
}
.center .jing ul li{
    float: left;
}
.center .jing ul li a{
    width: 130px;
    height: 55px;
    display: inline-block;
    line-height: 55px;
    text-align: center;
    margin: 1.6px;
    font-size: 16px;
    font-family: '풕턼환쥌';
    background-color: #FFFFFF;
}
.center .jing ul li a .two-a{
    position: absolute;
    top: 13px;
    left: 8px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -200px -8px;
}
.center .jing ul li a .two-b{
    position: absolute;
    top: 13px;
    left: 140px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -560px -8px;
}
.center .jing ul li a .two-c{
    position: absolute;
    top: 13px;
    left: 274px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -590px -8px;
}
.center .jing ul li a .two-d{
    position: absolute;
    top: 70px;
    left: 8px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -380px -8px;
}
.center .jing ul li a .two-e{
    position: absolute;
    top: 70px;
    left: 140px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -650px -8px;
}
.center .jing ul li a .two-f{
    position: absolute;
    top: 70px;
    left: 274px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -290px -8px;
}
.center .jing ul li a .two-g{
    position: absolute;
    top: 127px;
    left: 8px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -620px -8px;
}
.center .jing ul li a .two-h{
    position: absolute;
    top: 127px;
    left: 140px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -260px -8px;
}
.center .jing ul li a .two-i{
    position: absolute;
    top: 127px;
    left: 274px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -470px -8px;
}
.center .jing ul li a .two-j{
    position: absolute;
    top: 184px;
    left: 8px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -500px -8px;
}
.center .jing ul li a .two-k{
    position: absolute;
    top: 184px;
    left: 140px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -410px -8px;
}
.center .jing ul li a .two-l{
    position: absolute;
    top: 184px;
    left: 274px;
    width: 28px;
    height: 28px;
    background: url(../images/spr-v2.png) -440px -8px;
}
.center .jing ul .H{
    position: absolute;
    top: 8px;
}
.center .jing ul .h{
    position: absolute;
    top: 126px;
}
.center .jing ul .N{
    position: absolute;
    top: 70px;
}
.center .jing ul li a:hover{
    background: #F0F0F0;
}
.center-b{
    position: absolute;
    top: 1200px;
    left: 60px;
}
.zuixin{
    font-size: 30px;
    color: #404040;
    font-family: '풕턼환쥌';
}
.box1{width:680px;margin:10px auto 0;background:#fff;position: absolute;top: -20px;left: 160px;}
.tab_menu{overflow:hidden;}

.tab_menu li{width:170px;float:left;height:40px;line-height:40px;color:#000;background:#fff;text-align:center;cursor:pointer;}

.tab_menu li.current{color:#DCB257;background:#fff;}

.tab_menu li a{color:#000;text-decoration:none;font-size: 16px;font-family: '풕턼환쥌';}

.tab_menu li.current a{color:#DCB257;text-decoration: underline;font-weight: bold;font-size: 18px;}

.tab_box{/*padding:20px;*/margin-left: -170px;margin-top:25px;}

.tab_box ul .xiao{display: inline-block;margin-left: 15px;color:#968996;}

.tab_box ul .xiao font{font-size: 40px;color:#000;font-family: '풕턼환쥌';font-weight: bold;}

/*.tab_box li{height:24px;line-height:24px;overflow:hidden;}*/

/*.tab_box li span{margin:0 5px 0 0;font-family:"풻";font-size:12px;font-weight:400;color:#ddd;}*/

/*.tab_box .hide{display:none;}*/

.tab_box ul li .news{width: 70px;height: 35px; display: inline-block; color:#7A7A7A;line-height: 35px;background-color: #EBEBEB;font-size:13px;font-family: '풕턼환쥌';margin: 3px 0px;text-align: center;}

.tab_box ul li .news:hover{background-color: #D1AB57;color:#FFFFFF;}

.tab_box ul li .nei{margin-left:30px;font-size:16px;font-family: '풕턼환쥌'}

.tab_box ul li .nei:hover{color: #D1AB57;}

.bo ul li a{width:133px;height:45px;display:inline-block;font-size:16px;font-family: '풕턼환쥌';}

.center-buttom{position: absolute;top:470px;right:-375px;}

.center-buttom .img{width:60px;height:60px;  background: url("../images/spr-v2.png")-339px -103px;margin-top:20px;  float: left;}

.center-buttom p{float: left; margin-top: 20px;margin-left: 20px;color:#000;}

.center-buttom p span{color:gray;}

.bo ul li a:hover{color:#D1AB57;text-decoration: underline;font-size:18px;font-weight: bold;}

.yue a{width:820px;height:45px;display: inline-block;line-height:45px;text-align: center;background-color: #F0F0F0;margin-left: -170px;font-size:16px;font-family: "풕턼환쥌";color:#555555;}

.yue a:hover{background-color: #DAD8D8;}

.yue .zui{color:#D1AB57;}

.di{position: absolute;top: 1870px;}